<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ログインページ</title>
</head>
<body>
    <h1>ログイン</h1>
    <form th:action="@{/login}" method="post">
        <label>ユーザー名: <input type="text" name="username" /></label><br/>
        <label>パスワード: <input type="password" name="password" /></label><br/>
        <button type="submit">ログイン</button>
    </form>
    <div th:if="${param.error}">
        <p style="color:red;">ログインに失敗しました。ユーザー名かパスワードが間違っています。</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color:green;">ログアウトしました。</p>
    </div>
</body>
</html>
